## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('../weather-raw.csv')
df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# df['month'] = df['month'].replace(1, 'January')
# df['month'] = df['month'].replace(2, 'February')
# df['month'] = df['month'].replace(3, 'March')
# df['month'] = df['month'].replace(4, 'April')
# df['month'] = df['month'].replace(5, 'May')
# df['month'] = df['month'].replace(6, 'June')
# df['month'] = df['month'].replace(7, 'July')
# df['month'] = df['month'].replace(8, 'August')
# df['month'] = df['month'].replace(9, 'September')
# df['month'] = df['month'].replace(10, 'October')
# df['month'] = df['month'].replace(11, 'November')
# df['month'] = df['month'].replace(12, 'December')

'''
Esto de arriba lo dejo comentado ya que no consigo ordenarlo como quiero,
debido a que a April sale el primero y el último October, es decir, ordenado alfabéticamente
'''

df = pd.pivot_table(df, index= ["month", "element"])
df

                    d1   d10   d11   d13   d14   d15   d16   d17    d2   d23  \
month    element
April    tmax      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
August   tmax      NaN   NaN   NaN  29.8   NaN   NaN   NaN   NaN   NaN  26.4
         tmin      NaN   NaN   NaN  16.5   NaN   NaN   NaN   NaN   NaN  15.0
December tmax     29.9   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     13.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
February tmax      NaN   NaN  29.7   NaN   NaN   NaN   NaN   NaN  27.3  29.9
         tmin      NaN   NaN  13.4   NaN   NaN   NaN   NaN   NaN  14.4  10.7
January  tmax      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
July     tmax      NaN   NaN   NaN   NaN  29.9   NaN   NaN   NaN   NaN   NaN
         tmin      NaN   NaN   NaN   NaN  16.5   NaN   NaN   NaN   NaN   NaN
June     tmax      NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.0   NaN   NaN
         tmin      NaN   NaN   NaN   NaN   NaN   NaN   NaN  17.5   NaN   NaN
March    tmax      NaN  34.5   NaN   NaN   NaN   NaN  31.1   NaN   NaN   NaN
         tmin      NaN  16.8   NaN   NaN   NaN   NaN  17.6   NaN   NaN   NaN
May      tmax      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
November tmax      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  31.3   NaN
         tmin      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  16.3   NaN
October  tmax      NaN   NaN   NaN   NaN  29.5  28.7   NaN   NaN   NaN   NaN
         tmin      NaN   NaN   NaN   NaN  13.0  10.5   NaN   NaN   NaN   NaN

                  ...    d29    d3   d30   d31    d4    d5    d6    d7    d8  \
month    element  ...
April    tmax     ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
August   tmax     ...   28.0   NaN   NaN  25.4   NaN  29.6   NaN   NaN  29.0
         tmin     ...   15.3   NaN   NaN  15.4   NaN  15.8   NaN   NaN  17.3
December tmax     ...    NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN   NaN
         tmin     ...    NaN   NaN   NaN   NaN   NaN   NaN  10.5   NaN   NaN
February tmax     ...    NaN  24.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     ...    NaN  14.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN
January  tmax     ...    NaN   NaN  27.8   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     ...    NaN   NaN  14.5   NaN   NaN   NaN   NaN   NaN   NaN
July     tmax     ...    NaN  28.6   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     ...    NaN  17.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN
June     tmax     ...   30.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     ...   18.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
March    tmax     ...    NaN   NaN   NaN   NaN   NaN  32.1   NaN   NaN   NaN
         tmin     ...    NaN   NaN   NaN   NaN   NaN  14.2   NaN   NaN   NaN
May      tmax     ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         tmin     ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
November tmax     ...    NaN   NaN   NaN   NaN  27.2  26.3   NaN   NaN   NaN
         tmin     ...    NaN   NaN   NaN   NaN  12.0   7.9   NaN   NaN   NaN
October  tmax     ...    NaN   NaN   NaN   NaN   NaN  27.0   NaN  28.1   NaN
         tmin     ...    NaN   NaN   NaN   NaN   NaN  14.0   NaN  12.9   NaN

                  year
month    element
April    tmax     2010
         tmin     2010
August   tmax     2010
         tmin     2010
December tmax     2010
         tmin     2010
February tmax     2010
         tmin     2010
January  tmax     2010
         tmin     2010
July     tmax     2010
         tmin     2010
June     tmax     2010
         tmin     2010
March    tmax     2010
         tmin     2010
May      tmax     2010
         tmin     2010
November tmax     2010
         tmin     2010
October  tmax     2010
         tmin     2010

[22 rows x 24 columns]

In [10]:

df['Average']=df.loc[:, 'd1':'d31'].mean(axis = 1).round(1)
df['Maximun']=df.loc[:, 'd1':'d31'].max(axis = 1).round(1)
df['Minimun']=df.loc[:, 'd1':'d31'].min(axis = 1).round(1)
df[['Average', 'Maximun', 'Minimun']]

'''
Sé que puede resultar algo lioso, pero el algún momento se puede requir la temperatura máxima mínima o la mínima máxima
No sé si me explico
'''

                  Average  Maximun  Minimun
month    element
April    tmax        36.3     36.3     36.3
         tmin        16.7     16.7     16.7
August   tmax        27.9     29.8     25.4
         tmin        15.6     16.5     15.0
December tmax        29.9     29.9     29.9
         tmin        13.8     13.8     13.8
February tmax        27.8     29.9     24.1
         tmin        13.2     14.4     10.7
January  tmax        27.8     27.8     27.8
         tmin        14.5     14.5     14.5
July     tmax        29.2     29.9     28.6
         tmin        17.0     17.5     16.5
June     tmax        29.0     30.1     28.0
         tmin        17.8     18.0     17.5
March    tmax        32.8     34.5     31.1
         tmin        17.2     17.6     16.8
May      tmax        33.2     33.2     33.2
         tmin        18.2     18.2     18.2
November tmax        29.0     31.3     27.7
         tmin        14.2     16.3     12.1
October  tmax        29.8     31.2     28.7
         tmin        12.8     15.0     10.5