## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('../weather-raw.csv')
df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# df['month'] = data['month'].str.replace('1', 'January')
# df['month'] = data['month'].str.replace('2', 'February')
# df['month'] = data['month'].str.replace('3', 'March')
# df['month'] = data['month'].str.replace('4', 'April')
# df['month'] = data['month'].str.replace('5', 'May')
# df['month'] = data['month'].str.replace('6', 'June')
# df['month'] = data['month'].str.replace('7', 'July')
# df['month'] = data['month'].str.replace('8', 'August')
# df['month'] = data['month'].str.replace('9', 'September')
# df['month'] = data['month'].str.replace('10', 'October')
# df['month'] = data['month'].str.replace('11', 'November')
# df['month'] = data['month'].str.replace('12', 'December')

df = pd.pivot_table(df, index= ["month", "element"])
df

                  Temp_avg    d1   d10   d11   d13   d14   d15   d16   d17  \
month element
1     tmax     1018.900000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin     1012.250000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2     tmax      424.200000   NaN   NaN  29.7   NaN   NaN   NaN   NaN   NaN
      tmin      412.580000   NaN   NaN  13.4   NaN   NaN   NaN   NaN   NaN
3     tmax      526.925000   NaN  34.5   NaN   NaN   NaN   NaN  31.1   NaN
      tmin      514.650000   NaN  16.8   NaN   NaN   NaN   NaN  17.6   NaN
4     tmax     1023.150000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin     1013.350000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5     tmax     1021.600000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin     1014.100000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6     tmax      689.366667   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.0
      tmin      681.833333   NaN   NaN   NaN   NaN   NaN   NaN   NaN  17.5
7     tmax      689.500000   NaN   NaN   NaN   NaN  29.9   NaN   NaN   NaN
      tmin      681.333333   NaN   NaN   NaN   NaN  16.5   NaN   NaN   NaN
8     tmax      275.987500   NaN   NaN   NaN  29.8   NaN   NaN   NaN   NaN
      tmin      265.112500   NaN   NaN   NaN  16.5   NaN   NaN   NaN   NaN
10    tmax      359.083333   NaN   NaN   NaN   NaN  29.5  28.7   NaN   NaN
      tmin      345.900000   NaN   NaN   NaN   NaN  13.0  10.5   NaN   NaN
11    tmax      358.433333   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin      345.416667   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12    tmax      689.233333  29.9   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin      678.100000  13.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN

                 d2  ...    d29    d3   d30   d31    d4    d5    d6    d7  \
month element        ...
1     tmax      NaN  ...    NaN   NaN  27.8   NaN   NaN   NaN   NaN   NaN
      tmin      NaN  ...    NaN   NaN  14.5   NaN   NaN   NaN   NaN   NaN
2     tmax     27.3  ...    NaN  24.1   NaN   NaN   NaN   NaN   NaN   NaN
      tmin     14.4  ...    NaN  14.4   NaN   NaN   NaN   NaN   NaN   NaN
3     tmax      NaN  ...    NaN   NaN   NaN   NaN   NaN  32.1   NaN   NaN
      tmin      NaN  ...    NaN   NaN   NaN   NaN   NaN  14.2   NaN   NaN
4     tmax      NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin      NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5     tmax      NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin      NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6     tmax      NaN  ...   30.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN
      tmin      NaN  ...   18.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7     tmax      NaN  ...    NaN  28.6   NaN   NaN   NaN   NaN   NaN   NaN
      tmin      NaN  ...    NaN  17.5   NaN   NaN   NaN   NaN   NaN   NaN
8     tmax      NaN  ...   28.0   NaN   NaN  25.4   NaN  29.6   NaN   NaN
      tmin      NaN  ...   15.3   NaN   NaN  15.4   NaN  15.8   NaN   NaN
10    tmax      NaN  ...    NaN   NaN   NaN   NaN   NaN  27.0   NaN  28.1
      tmin      NaN  ...    NaN   NaN   NaN   NaN   NaN  14.0   NaN  12.9
11    tmax     31.3  ...    NaN   NaN   NaN   NaN  27.2  26.3   NaN   NaN
      tmin     16.3  ...    NaN   NaN   NaN   NaN  12.0   7.9   NaN   NaN
12    tmax      NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
      tmin      NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN  10.5   NaN

                 d8  year
month element
1     tmax      NaN  2010
      tmin      NaN  2010
2     tmax      NaN  2010
      tmin      NaN  2010
3     tmax      NaN  2010
      tmin      NaN  2010
4     tmax      NaN  2010
      tmin      NaN  2010
5     tmax      NaN  2010
      tmin      NaN  2010
6     tmax      NaN  2010
      tmin      NaN  2010
7     tmax      NaN  2010
      tmin      NaN  2010
8     tmax     29.0  2010
      tmin     17.3  2010
10    tmax      NaN  2010
      tmin      NaN  2010
11    tmax      NaN  2010
      tmin      NaN  2010
12    tmax      NaN  2010
      tmin      NaN  2010

[22 rows x 25 columns]

In [39]:
# t_max = [df.max(axis = 1)]
# df['Temp_max']=t_max

# t_min = [df.min(axis = 1)]
# df['Temp_min']=t_min


df['Average']=df.loc[:, 'd1':'d31'].mean(axis = 1).round(1)
df['Maximun']=df.loc[:, 'd1':'d31'].max(axis = 1).round(1)
df['Minimun']=df.loc[:, 'd1':'d31'].min(axis = 1).round(1)
df[['Average', 'Maximun', 'Minimun']]

               Average  Maximun  Minimun
month element
1     tmax        27.8     27.8     27.8
      tmin        14.5     14.5     14.5
2     tmax        27.8     29.9     24.1
      tmin        13.2     14.4     10.7
3     tmax        32.8     34.5     31.1
      tmin        17.2     17.6     16.8
4     tmax        36.3     36.3     36.3
      tmin        16.7     16.7     16.7
5     tmax        33.2     33.2     33.2
      tmin        18.2     18.2     18.2
6     tmax        29.0     30.1     28.0
      tmin        17.8     18.0     17.5
7     tmax        29.2     29.9     28.6
      tmin        17.0     17.5     16.5
8     tmax        27.9     29.8     25.4
      tmin        15.6     16.5     15.0
10    tmax        29.8     31.2     28.7
      tmin        12.8     15.0     10.5
11    tmax        29.0     31.3     27.7
      tmin        14.2     16.3     12.1
12    tmax        29.9     29.9     29.9
      tmin        13.8     13.8     13.8